---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>

<style is:global>
	@tailwind base;
@tailwind components;
@tailwind utilities;
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	list-style: none;
}
img{
	max-width: 100%;
	margin: 0 auto;
}
body,html{
	scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat Variable', sans-serif;
}
</style>