<section class=" flex flex-col justify-center items-center py-40 gap-3">
    <h1 class=" text-6xl font-semibold text-white text-center">Desarrollo & Diseño de Paginas Webs</h1>
    <p class=" text-xl text-white text-center">Ofrezco soluciones modernas, funcionales y adaptadas a tus necesidades.</p>
    <div class="flex items-center gap-8 mt-5">
        <a class="py-3 px-6 rounded-2xl bg-slate-300 transition duration-150 hover:bg-white font-semibold" href="#">Agenda una reunión</a>
        <a class=" py-3 px-6 rounded-2xl transition duration-150 bg-black text-white font-semibold hover:bg-neutral-950" href="#">Contactame</a>
    </div>
</section>