---

---
<nav class="max-w-6xl flex justify-between items-center m-auto py-10">
    <a class="font-bold text-3xl text-white tracking-tighter" href="#">NicoTech</a>
    <ul class="flex items-center gap-6">
        <li><a class="text-neutral-300 font-semibold transition duration-150 hover:text-white" href="#">Soluciones</a></li>
        <li><a class="text-neutral-300 font-semibold transition duration-150 hover:text-white" href="#">Portafolio</a></li>
        <li><a class="text-neutral-300 font-semibold transition duration-150 hover:text-white" href="#">Metodología</a></li>
        <li><a class="text-neutral-300 font-semibold transition duration-150 hover:text-white" href="#">Contacto</a></li>
    </ul>
</nav>