---

---
<footer class="gradient-2 pt-20 pb-5">
    <h2 class="text-white text-center text-5xl font-bold">Contacto</h2>
    <p class="text-lg text-white text-center mt-4">Puedes contactarme por Email, WhatsApp o LinkedIn.</p>
    <div class="flex justify-center items-center gap-9 mt-10">
        <a class="text-white text-3xl p-3 py-2 rounded-full border-solid transition duration-150 hover:scale-105" href="#"><i class="ri-mail-line"></i></a>
        <a class="text-white text-3xl p-3 py-2 rounded-full border-solid transition duration-150 hover:scale-105" href="#"><i class="ri-whatsapp-line"></i></a>
        <a class="text-white text-3xl p-3 py-2 rounded-full border-solid transition duration-150 hover:scale-105" href="#"><i class="ri-linkedin-fill"></i></a>
    </div>
    <p class="copy text-white text-center pt-4 mt-8 text-lg">&COPY; Nicolás Alvarado</p>
</footer>

<style>
    .copy{
        border-top: 2px solid #ffff;
    }
</style>