---
import MetodoCard from "../components/MetodoCard.astro";


---

<section class=" gradient flex flex-col gap-3 py-40 ">
    <h2 class="text-white text-center text-5xl font-bold">Nuestra Metodologia</h2>
    <p class="text-white text-center text-balance px-4 text-xl mt-6">Un enfoque estructurado y eficiente para convertir tu visión en realidad
    </p>
    <div class=" max-w-6xl m-auto grid max-sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-8 justify-between mt-8 px-4">
        <MetodoCard
        icon="ri-discuss-fill text-violet-500 text-2xl"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-violet-500/20"
        gradient="absolute inset-0 bg-gradient-to-br from-violet-600/20 to-purple-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        title="1. Consulta Inicial"
        descp="Reunión detallada para entender tus objetivos, necesidades y visión del proyecto."
        />
        <MetodoCard
        icon="ri-search-eye-line text-cyan-500 text-2xl"
        gradient="absolute inset-0 bg-gradient-to-br from-cyan-600/20 to-blue-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-cyan-500/20"
        title="2. Investigación"
        descp="Análisis profundo del mercado, competencia y últimas tendencias tecnológicas."
        />
        <MetodoCard
        gradient="absolute inset-0 bg-gradient-to-br from-amber-600/20 to-orange-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-orange-500/20"
        icon="ri-lightbulb-flash-line text-orange-500 text-2xl"
        title="3. Estrategia"
        descp="Desarrollo de un plan estratégico personalizado para alcanzar tus objetivos."
        />
        <MetodoCard
        icon="ri-palette-line text-violet-500 text-2xl"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-violet-500/20"
        gradient="absolute inset-0 bg-gradient-to-br from-violet-600/20 to-purple-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        title="4. Diseño UX/UI"
        descp="Creación de wireframes y diseños centrados en la experiencia del usuario."
        />
        <MetodoCard
        icon="ri-code-s-slash-line text-cyan-500 text-2xl"
        gradient="absolute inset-0 bg-gradient-to-br from-cyan-600/20 to-blue-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-cyan-500/20"
        title="5. Desarrollo"
        descp="Implementación con las últimas tecnologías y mejores prácticas de desarrollo."
        />
        <MetodoCard
        gradient="absolute inset-0 bg-gradient-to-br from-amber-600/20 to-orange-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-orange-500/20"
        icon="ri-flashlight-line text-orange-500 text-2xl"
        title="6. Optimización"
        descp="Pruebas exhaustivas y optimización para máximo rendimiento."
        />
        <MetodoCard
        icon="ri-space-ship-line text-violet-500 text-2xl"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-violet-500/20"
        gradient="absolute inset-0 bg-gradient-to-br from-violet-600/20 to-purple-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        title="7. Lanzamiento"
        descp="Despliegue controlado y monitorizado para garantizar el éxito."
        />
        <MetodoCard
        icon="ri-repeat-line text-cyan-500 text-2xl"
        gradient="absolute inset-0 bg-gradient-to-br from-cyan-600/20 to-blue-400/0 opacity-0 transition-opacity duration-300 group-hover:opacity-100"
        gradientIcon="gradient mb-6 flex h-12 w-12 items-center justify-center rounded-lg bg-cyan-500/20"
        title="8. Mejora Continua"
        descp="Mantenimiento proactivo y actualizaciones periódicas."
        />
      
       
      </div>
    
</section>